body {
    padding: 0;
    margin: 0;
    background-color: #1A1B1E;

}

/* Sezione Funzionalità e Accessibilità */

.func-acc__container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 10px;
}

.func-acc__container__header {
    color: white;
    font-size: 22px;
    margin-left: 5px;
    padding-bottom: 20px;
}

.tags__container {
    color: white;
    background-color: #2D3036;
    margin-left: 5px;
    padding: 20px;
    border-radius: 5px;
}

.tag_box {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    border: 2px solid white;
    width: 200px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 20px;
    border-radius: 30px;
}

/* Sezione informazioni aggiuntive  */

.additional-infos__container__header {
    font-size: 22px;
    color: white;
    margin-left: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.additional-infos__container {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin-left: 10px;
    padding-top: 20px;
}

.button__additional-infos {
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    font-size: 13px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: transparent;
    margin-left: 10px;
    margin-bottom: 10px;
}

.button__additional-infos__icon {
    font-size: 16px;
    padding-left: 10px;
}

.button__additional-infos:hover {
    background-color: #515863;
    cursor: pointer;
}